@media screen and (max-width: 991px) {
    .container {
        overflow-x: hidden;
    }

    .navbar .logo {
        width: 200px;
        height: auto;
    }

    .navbar {
        justify-content: space-around;
    }

    .banner-content {
        align-items: center;
    }

    .banner-img {
        width: 45%;
    }

    .about-content {
        margin-left: 0;
        margin-right: 50px;
    }

    .online-games-item {
        padding: 0px 20px;
    }

    .online-game-single p {
        font-size: 16px;
    }

    .play-instantly {
        padding: 70px 0;
    }

    .play-instantly-content {
        padding-left: 0;
    }

    .play-instantly-content p {
        margin-top: 10px;
    }

    .play-instantly-img {
        margin-right: 30px;
    }

    .career-content-left {
        width: calc(50% - 40px);
        padding: 60px 0px;
        padding-left: 40px;
    }

}

@media screen and (max-width: 820px) {
    .navbar .logo {
        width: 180px;
        height: auto;
    }

    .nav-items {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav-items {
        gap: 20px;
    }

    .banner {
        padding: 50px 0;
    }

    .banner-content h2 {
        font-size: 40px;
    }

    .banner-content h1 {
        font-size: 48px;
    }

    .banner-icon p {
        font-size: 16px;
    }

    .online-games .section-title h2 {
        font-size: 2.5rem;
    }

    .online-games-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .play-instantly-content h2 {
        font-size: 35px;
    }

    .play-instantly-content p {
        font-size: 16px;
    }

    .career p,
    .career-option {
        font-size: 16px;
    }

    .career-content-right {
        right: -50px;
    }
}

@media screen and (max-width: 700px) {

    .navbar,
    .nav-items {
        flex-direction: column;
    }

    .navbar {
        padding: 40px 0;
    }

    .game-type {
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .game-type .item img {
        width: 30px;
    }

    .game-type .item h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 510px) {
    .banner-content h2 {
        font-size: 37px;
    }
}

@media screen and (max-width: 479px) {
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-img {
        width: 100%;
    }

    .banner-img {
        padding-bottom: 50px;
    }

    .banner-content h1 {
        font-size: 50px;
    }

    .about-us {
        padding: 30px 0px;
    }

    .about {
        flex-direction: column;
    }

    .about-content,
    .about-img {
        width: 100%;
    }

    .about-content {
        text-align: center;
        margin-right: 0;
    }

    .about h3 {
        font-size: 30px;
    }

    .online-games-item {
        grid-template-columns: 1fr;
    }

    .online-game-img {
        padding: 20px;
    }

    .online-games .section-title h2 {
        font-size: 25px;
    }

    .online-games .section-title p {
        font-size: 15px;
    }

    .online-game-single p {
        font-size: 16px;
        padding: 0 20px;
    }

    .play-instantly-item {
        text-align: center;
        gap: 50px;
        flex-direction: column;
    }

    .play-instantly-content h2 {
        font-size: 30px;
    }

    .play-instantly-content p {
        font-size: 14px;
        padding: 0 80px;
    }

    .play-instantly-img {
        margin-right: -30px;
        width: 54%
    }

    .play-instantly-img .img-2 img {
        width: 160px;
    }

    .career {
        flex-direction: column;
    }

    .career-content-left {
        width: 80%;
        padding-left: 0;
    }

    .career h2 {
        font-size: 40px;
    }

    .career p,
    .career ul li {
        font-size: 14px;
    }

    .career-content-left .btn-primary {
        display: flex;
        margin: 0 auto;
    }

    .career-content-right {
        width: 100%;
    }

    .career-option {
        align-items: space-between;
    }

    .game-type .item img {
        width: 25px;
    }

    .game-type .item h4 {
        font-size: 10px;
    }

    .footer-menu {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}