/* common css */
:root {
    --primary-color: #FF42A5;
    --secondary-color: #534C64;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    text-decoration: none;
    background: #FF42A5;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    width: max-content;
}

.section-container {
    width: 1140px;
    margin: 0 auto;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

/* navbar part start*/
.navbar {
    width: 1140px;
    margin: 0 auto;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    width: 253px;
    height: 53px;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
}

.nav-items a {
    color: #3C354F;
    font-weight: 500;
    text-decoration: none;
}

.following-us {
    background: #E7E6E9;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* banner part start*/
.banner {
    background-color: rgba(221, 221, 221, 0.226);
    box-shadow: 0 4px 30px #ddd;
    background-image: url('../images/banner-content-bg.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top left;
}

.banner-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.banner-content h2 {
    font-size: 48px;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 68px;
    font-weight: 800;
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-icon {
    display: flex;
}

.banner-icon p {
    margin-left: 10px;
}

.banner-btn {
    display: flex;
    gap: 20px;
}

.btn-rogue {
    background: #4EC5F7;
}

/* about part start */
.about-us {
    background-image: linear-gradient(rgba(255, 254, 253, 0.9), rgba(255, 66, 164, 0.1));
    padding: 80px 0px;
}

.about {
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--secondary-color);
}

.about p {
    font-size: 18px;
    padding-bottom: 2rem;
}

.about h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 2.5rem;
}

.about h3 {
    font-size: 32px;
    font-weight: 700;
}

.about-img,
.about-content {
    width: 50%;
}

.about-img img {
    width: 100%;
}

.about-content {
    margin-left: 100px;
}

/* online games part start */
.online-games {
    color: var(--secondary-color);
}

.online-games .section-title {
    text-align: center;
    padding: 50px 0px;
}

.online-games .section-title h2 {
    font-weight: 700;
    font-size: 3rem;
}

.online-games .section-title p {
    font-size: 18px;
}

.online-games .section-title span {
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.online-games-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.online-game-img {
    position: relative;
}

.online-game-img img {
    width: 100%;
}

.online-game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.online-game-single:hover .online-game-overlay {
    visibility: visible;
    opacity: 1;
}

.online-game-overlay img {
    width: 50px;
}

.online-game-overlay a {
    color: var(--primary-color);
    text-decoration: none;
}

.online-game-single p {
    font-size: 20px;
    font-weight: 500;
}

/* play instantly start */

.play-instantly {
    padding: 100px 0;
}

.play-instantly-item {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 150px;
}

.play-instantly-content {
    padding-left: 9rem;
}

.play-instantly-content h2 {
    font-size: 48px;
    font-weight: 700;
}

.play-instantly-content h2 span {
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.play-instantly-img {
    position: relative;
}

.play-instantly-img .img-1 {
    width: 100%;
}

.play-instantly-img .img-2 {
    position: absolute;
    bottom: -65px;
    left: -23%;
}

.play-instantly-img .img-2 img {
    width: 220px;
}

/* careers start */
.careers {
    background: var(--primary-color);
    color: #fff;
}

.career h2 {
    font-size: 48px;
}

.career p {
    color: #fff;
    margin: 20px 0;
}

.career {
    display: flex;
    align-items: center;
}

.career-content-left,
.career-content-right {
    width: 50%;
}

/* .career-content-left {
    padding: 50px 0;
} */

.career-content-left .btn-primary {
    background: #fff;
    color: var(--primary-color);
}

.career-content-right {
    position: relative;
    right: -100px;
}

.career-content-right img {
    width: 100%;
}

.career-option {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 2rem;
}

.career-option .list-right {
    text-align: right;
}

/* game types start */
.game-types {
    padding: 50px 0;
    color: var(--secondary-color);
}

.game-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-type .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 0.2s;
}

.game-type .item:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color)
}

/* footer start */
.footer {
    background-color: #0B0223;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
}

.footer-menu {
    display: flex;
    gap: 30px;
}

.footer-menu a {
    text-decoration: none;
}

.footer-menu-1 a {
    color: #fff;
    font-size: 18px;
}

.footer-menu-3 a,
.footer p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

/* Responsive CSS */

@media (max-width: 575.98px) {
    .navbar {
        padding: 50px 0px;
    }

    .navbar,
    .nav-items {
        width: 540px;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 520px) {
    .navbar {
        padding: 50px 0px;
    }

    .navbar,
    .nav-items,
    .banner-container {
        width: 400px;
        flex-direction: column;
        gap: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        align-items: center;
        padding: 50px 0px;

    }

    .banner-content h2 {
        font-size: 48px;
        font-weight: 600;
    }

    .banner-content h1 {
        font-size: 48px;
        font-weight: 800;
    }

    .banner-content,
    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }

    .banner-icon p {
        font-size: 14px;
        text-align: center;
    }

    .about {
        flex-direction: column;
    }

    .section-container {
        width: 400px;
    }

    .about-img,
    .about-content {
        width: 100%;
    }

    .about-img img {
        width: 100%;
    }

    .about-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-content p {
        font-size: 14px;
    }

    .online-games-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-game-img {
        margin-top: 2rem;
    }

    .play-instantly {
        padding: 50px 0;
    }

    .play-instantly-item {
        flex-direction: column;
        gap: 50px;
    }

    .play-instantly-content {
        padding-left: 0;
        text-align: center;
        padding: 20px;
    }

    .play-instantly-content h2 {
        font-size: 28px;
    }

    .play-instantly-content p {
        font-size: 14px;
        margin-top: 30px;
    }

    .play-instantly-img .img-1 {
        width: 80%;
    }

    .play-instantly-img .img-2 {
        bottom: -78px;
        left: 0%;
    }

    .play-instantly-img .img-2 img {
        width: 180px;
    }

    .career {
        flex-direction: column;
        margin-top: 100px;
        padding: 50px 0px;
    }

    .career-content-left,
    .career-content-right {
        width: 100%;
    }

    .career-content-left h2 {
        font-size: 28px;
    }

    .career-content-left p,
    .career-option li {
        font-size: 14px;
    }

    .game-type .item img {
        width: 40px;
    }

    .game-type .item h4 {
        font-size: 12px;
    }

    .footer-menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        gap: 30px;
    }

    .navbar .logo {
        width: 200px;
    }
}

@media (max-width: 991.98px) {}